body {
    min-height: 2000px;
}

.jumbotron {
    padding: 2.4rem;
    background-color: rgb(230, 231, 247);
}

.listun {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

.list12 {
    margin-right: 20px;
}